@use "../base/mixins"as *;
@use "../global/responsive"as *;

.ul-menu {
    @include flex(center, space-between, 12px);
}

.social {

    @include devices-small-screens() {
        display: none;
    }
}

.brand {
    display: inline-block;

    img {
        object-fit: cover;
        width     : 80px;
    }
}

.copyright {
    color    : rgba(102, 102, 102, 1);
    font-size: get-font-size(14);
}

#pages {
    .header {
        position: relative;
    }
}