@mixin typography-01($size) {
    @if $size==14 {
        font-size  : 0.875rem;
        line-height: 30px;
    }
}

@mixin typography-02($size) {
    font-family: 'Lora', serif;

    @if $size==15 {
        font-size  : 0.975rem;
        line-height: 30px;
    }

    @else if $size==18 {
        font-size  : 1.125rem;
        font-style : italic;
        line-height: 40px;
    }

    @else if $size==42 {
        font-size  : 2.625rem;
        font-style : italic;
        line-height: 60px;
    }
}

@mixin typography-03($size) {
    font-family: 'Kaushan Script', cursive;

    @if $size==80 {
        font-size  : 5rem;
        line-height: 100px;
    }
}

@mixin typography-04($size) {
    font-family: 'Crimson Text', serif;

    @if $size==15 {
        font-size  : 0.975rem;
        font-style : italic;
        line-height: 20px;
    }

    @if $size==18 {
        font-size  : 1.125rem;
        font-style : italic;
        line-height: 30px;
    }

    @else if $size==24 {
        font-size  : 1.5rem;
        font-style : italic;
        line-height: 40px;
    }
}

@mixin flex-properties($display-flex, $align-items, $justify-content) {
    align-items    : $align-items;
    display        : $display-flex;
    justify-content: $justify-content;
}

@mixin grid-properties() {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 30px;

    @include tablet() {
        grid-template-columns: 1fr;
    }
}

@mixin background-properties () {
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
}

@mixin links-styles($color, $letter-spacing) {
    color         : $color;
    display       : inline-block;
    letter-spacing: $letter-spacing;
    text-transform: uppercase;
}

@mixin parallax-efect() {
    background-attachment: fixed;
    transition           : right .4s ease;
    width                : 100%;
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}