@use "../base/colors"as *;
@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../global/responsive"as *;

.burger__button {
    @include flex(center, center, 8px);
    background: transparent;
    border    : none;
    cursor    : pointer;
    min-height: 52px;
    min-width : 44px;
    transition: .5s ease-in-out;

    @include devices-large-screens() {
        display: none;
    }

    @include hover {
        .burger__button-bars {
            background: transparent !important;

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }

    &-visually {
        font-size  : get-font-size(16);
        font-weight: 600;

        // @include font-primary();
        // clip     : rect(0, 0, 0, 0);
        // font-size: get-font-size(14);
        // height   : 1px;
        // overflow : hidden;
        // padding  : 0;
        // position : absolute;
        // width    : 1px;
    }

    &-bars {
        @include apply-bg-color(second-color);
        display   : block;
        height    : 2px;
        position  : relative;
        transition: all .25s linear;
        width     : 22px;

        &::after,
        &::before {
            background-color: currentColor;
            content         : "";
            display         : block;
            height          : 100%;
            position        : absolute;
            right           : 0;
            transition      : all .25s linear;
            width           : 100%;
        }

        &::after {
            transform: translate(0, -8px);
        }

        &::before {
            transform: translate(0, 8px);
        }
    }
}

.burger__active {

    .burger__button-bars {
        background: transparent !important;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

.social-btn {
    @include apply-bg-color(theme-icon_color-bg);
    @include apply-color(primary-color);
    border-radius: 50%;
    display      : inline-block;
    height       : 28px;
    line-height  : 30px;
    transition   : .3s all ease-in-out;
    text-align   : center;
    width        : 28px;

    @include hover {
        @include apply-bg-color(theme-icon_color-houver);
    }
}