@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../base/colors"as *;
@use "../global/responsive"as *;


#homeCarousel {
    .swiper {
        height  : 100vh;
        position: relative;
        width   : 100%;
    }

    .swiper-slide {
        position  : relative;
        text-align: center;

        &::after {
            background-color: rgba($color: #000000, $alpha: 0.6);
            content         : "";
            inset           : 0;
            height          : 100%;
            position        : absolute;
            width           : 100%;
            z-index         : 1;
        }

        img {
            display   : block;
            height    : 100vh;
            position  : relative;
            object-fit: cover;
            width     : 100%;
        }
    }
}

.slide__content {
    position  : absolute;
    left      : 50%;
    opacity   : 0;
    transition: opacity 0.5s ease-in-out;
    top       : 50%;
    transform : translate(-50%, -50%);
    z-index   : 99999;
}

.swiper-slide-active {
    .slide__content {
        opacity   : 1;
        transition: opacity 0.5s ease-in-out;
    }
}

#aboutSlide {
    .swiper {
        height: 100vh;

        @include devices-large-screens() {
            height: 500px;
        }
    }

    .swiper-slide {
        transition: 0.8s;
    }

    .about__slide-arrow {
        background: rgba(0, 0, 0, 0.6);
        height    : 60px !important;
        width     : 40px !important;

        &::after {
            @include apply-color(primary-color);
            font-size: get-font-size(18) !important;
        }
    }

    img {
        height    : 100%;
        object-fit: cover;
    }
}