@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;
@use "../global/animations"as *;

.modal {
    @include apply-color(primary-color);
    background: rgba($color: #000000, $alpha: .8);
    height    : 100%;
    inset     : 0;
    overflow-y: auto;
    opacity   : 0;
    position  : fixed;
    transform : translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    width     : 100%;
    z-index   : 99999;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.modal__active {
    opacity   : 1;
    transform : translateY(0);
    visibility: visible;
}

.modal__image {
    transform: translateY(0);
}

.modal__image.modal__active {
    opacity   : 1;
    visibility: visible;
}

.modal__header {
    @include flex(center, space-between);
    padding: 1rem 1%;

    .image__counter {
        span {
            @include lora-font();
            font-size: get-font-size(14);
            opacity  : 0.75;
        }
    }

    .image__controls {
        @include flex(center, space-between, 2rem);

        a {
            display   : inline-block;
            transition: .5s ease-in-out;

            @include hover() {
                opacity: .5;
            }

            i {
                font-size : get-font-size(20);
                transition: .5s ease-in-out;

                @include hover() {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.image__container {
    left     : 50%;
    position : absolute;
    top      : 50%;
    transform: translate(-50%, -46%);
    width    : 100%;

    @include devices-large-screens {
        height: 88%;
        margin: 0 auto;
        width : 80%;
    }

    @include mobile-landscape-table {
        height: auto;
    }

    @include mobile-ladscape-phone {
        height   : 80%;
        transform: translate(-50%, -40%);
        width    : 80%;
    }

    img {
        height    : 100%;
        object-fit: cover;
    }
}

#prevImage {
    left: .4rem;
}

#nextImage {
    right: .4rem;
}