@use "sass:map";

$theme-color: (
    pure-black: #000000,
    pure-white: #ffffff,
);

@mixin apply-color($key) {
    @if map.has-key($theme-color, $key) {
        color: map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@mixin apply-bg-color($key) {
    @if map.has-key($theme-color, $key) {
        background-color: map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@function get-color($key) {
    @if map.has-key($theme-color, $key) {
        @return map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
        @return null;
    }
}