@use "sass:map";

$theme-color: (
    primary-color : #ffffff,
    second-color : #222222,
    theme-text_color : #5f6263,
    theme-title_color : #999999,
    theme-button_color : #cccccc,
    theme-button_color-bg : #000000,
    theme-link_color : #5f6263,
    theme-link_hover : #2293D7,
    theme-icon_color-bg : #464646,
    theme-icon_color-houver : #a58f60,
    theme-div_color-bg : #f4efe8,
    theme-horario_color-title: #5e472b,
    theme-horario_color-text : #82786e,
    theme-input_color : #7a7a7a,
    theme-border_color : #efefef,
);

@mixin apply-color($key) {
    @if map.has-key($theme-color, $key) {
        color: map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@mixin apply-bg-color($key) {
    @if map.has-key($theme-color, $key) {
        background-color: map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
    }
}

@function get-color($key) {
    @if map.has-key($theme-color, $key) {
        @return map-get($map: $theme-color, $key: $key);
    }

    @else {
        @warn "A cor '#{$key}' não está definida em '$theme-colors'.";
        @return null;
    }
}