@use "sass:math";
@use "sass:map";
@use "../util/functions"as *;

// 14, 15, 18, 24, 42, 80, 

@mixin font-primary() {}

@mixin montserrat-font() {
   font-family: "Montserrat", sans-serif;
}

@mixin lora-font() {
   font-family: "Lora", serif;
}

@mixin kaushan-script-font() {
   font-family: "Kaushan Script", cursive;
}

@mixin crimson-font() {
   font-family: "Crimson Text", serif;
}

@mixin font-style($font-size, $font-style, $line-height) {
   font-size  : get-font-size($font-size);
   font-style : $font-style;
   line-height: $line-height;
}

@function get-font-size($size) {
   @return px-to-rem($size);
}