@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

textarea {
  resize: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

.burger__button {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  min-height: 52px;
  min-width: 44px;
  transition: 0.5s ease-in-out;
}
@media screen and (min-width: 1920px) {
  .burger__button {
    display: none;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .burger__button {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .burger__button {
    display: none;
  }
}
.burger__button:hover .burger__button-bars {
  background: transparent !important;
}
.burger__button:hover .burger__button-bars::before {
  transform: rotate(45deg);
}
.burger__button:hover .burger__button-bars::after {
  transform: rotate(-45deg);
}
.burger__button-visually {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}
.burger__button-bars {
  background-color: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.25s linear;
  width: 22px;
}
.burger__button-bars::after, .burger__button-bars::before {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 0.25s linear;
  width: 100%;
}
.burger__button-bars::after {
  transform: translate(0, -8px);
}
.burger__button-bars::before {
  transform: translate(0, 8px);
}

.burger__active .burger__button-bars {
  background: transparent !important;
}
.burger__active .burger__button-bars::before {
  transform: rotate(45deg);
}
.burger__active .burger__button-bars::after {
  transform: rotate(-45deg);
}

.social-btn {
  background-color: #464646;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  line-height: 30px;
  transition: 0.3s all ease-in-out;
  text-align: center;
  width: 28px;
}
.social-btn:hover {
  background-color: #a58f60;
}

.btn-default {
  background-color: #000000;
  color: #cccccc;
  display: inline-block;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-top: 30px;
  padding: 12px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
.btn-default:hover {
  color: #222222;
  background-color: rgba(122, 122, 122, 0.15);
}

.social-btn {
  background-color: #464646;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  line-height: 30px;
  transition: 0.5s all ease-in-out;
  text-align: center;
  width: 28px;
}
.social-btn:hover {
  background-color: #a58f60;
}

.btn-squade {
  background-color: #2293D7;
  border: none;
  bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(20px);
  width: 40px;
  z-index: 9999;
}
.btn-squade i {
  color: #ffffff;
}
.btn-squade:hover {
  opacity: 0.8;
}

.btn-squade.visible {
  opacity: 1;
  transform: translateY(0);
}

.btn-gallery {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 0.6rem;
  top: 50%;
}
.btn-gallery i {
  font-size: 1.25rem;
}

#homeCarousel .swiper {
  height: 100vh;
  position: relative;
  width: 100%;
}

.carousel__slide {
  position: relative;
  text-align: center;
  transition: 0.8s ease-in-out;
}
.carousel__slide::after {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  inset: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.carousel__slide img {
  display: block;
  height: 100vh;
  position: relative;
  object-fit: cover;
  width: 100%;
}
.carousel__slide .slide__content {
  position: absolute;
  left: 50%;
  opacity: 0;
  transition: 0.8s ease-in-out;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.swiper-slide-active .slide__content {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.about__slide .swiper {
  height: 100vh;
}
@media screen and (min-width: 1920px) {
  .about__slide .swiper {
    height: 70vh;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .about__slide .swiper {
    height: 70vh;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .about__slide .swiper {
    height: 70vh;
  }
}
.about__slide .about__slide-arrow {
  background: rgba(0, 0, 0, 0.6);
  height: 60px !important;
  width: 40px !important;
}
.about__slide .about__slide-arrow::after {
  color: #ffffff;
  font-size: 1.125rem !important;
}

.testimonials .swiper {
  max-width: 700px;
  width: 100%;
}
.testimonials .swiper-pagination-bullet {
  background-color: #5f6263;
}

.modal {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  inset: 0;
  overflow-y: auto;
  opacity: 0;
  position: fixed;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
  width: 100%;
  z-index: 99999;
}
.modal::-webkit-scrollbar {
  width: 0;
}

.modal__active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.modal__image {
  transform: translateY(0);
}

.modal__image.modal__active {
  opacity: 1;
  visibility: visible;
}

.modal__header {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem 1%;
}
.modal__header .image__counter span {
  font-family: "Lora", serif;
  font-size: 0.875rem;
  opacity: 0.75;
}
.modal__header .image__controls {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.modal__header .image__controls a {
  display: inline-block;
  transition: 0.5s ease-in-out;
}
.modal__header .image__controls a:hover {
  opacity: 0.5;
}
.modal__header .image__controls a i {
  font-size: 1.25rem;
  transition: 0.5s ease-in-out;
}
.modal__header .image__controls a i:hover {
  transform: scale(1.1);
}

.image__container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -46%);
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .image__container {
    height: 88%;
    margin: 0 auto;
    width: 80%;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .image__container {
    height: 88%;
    margin: 0 auto;
    width: 80%;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .image__container {
    height: 88%;
    margin: 0 auto;
    width: 80%;
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .image__container {
    height: auto;
  }
}
@media screen and (max-width: 700px) and (orientation: landscape) {
  .image__container {
    height: 80%;
    transform: translate(-50%, -40%);
    width: 80%;
  }
}
.image__container img {
  height: 100%;
  object-fit: cover;
}

#prevImage {
  left: 0.4rem;
}

#nextImage {
  right: 0.4rem;
}

.sidebar {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 40px 16px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(400px);
  transition: transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 400px;
  z-index: 10000;
}
@media screen and (max-width: calc(768px - 1px)) {
  .sidebar {
    width: 280px;
  }
}
@media screen and (max-width: 480px) {
  .sidebar {
    width: 280px;
  }
}
.sidebar .ul-menu {
  align-items: start;
  display: flex;
  justify-content: start;
  margin-bottom: 1rem;
}

.sidebar__active {
  transform: translateZ(0) !important;
}

.sidebar__close-btn {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  color: #5f6263;
  background: transparent;
  border: transparent;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bolder;
  min-height: 50px;
  min-width: 44px;
  position: relative;
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
}
.sidebar__close-btn:hover {
  opacity: 0.5;
}
.sidebar__close-btn:hover::after {
  transform: rotate(225deg);
}
.sidebar__close-btn:hover::before {
  transform: rotate(135deg);
}
.sidebar__close-btn::after, .sidebar__close-btn::before {
  background-color: #5f6263;
  content: "";
  height: 2px;
  position: absolute;
  right: 2px;
  transition: 0.6s ease-in-out;
  width: 24px;
}
.sidebar__close-btn::after {
  transform: rotate(45deg);
}
.sidebar__close-btn::after:hover {
  transform: translate(-50%, -50%) rotate(225deg);
}
.sidebar__close-btn::before {
  transform: rotate(-45deg);
}

.sidebar__header {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.sidebar__nav {
  flex-grow: 1;
  margin: 2rem 0;
}

.sidebar__list {
  font-family: "Montserrat", sans-serif;
  flex-grow: 1;
}
.sidebar__list a {
  color: rgb(102, 102, 102);
  display: inline-block;
  font-size: 1.5rem;
  line-height: 45px;
  margin-bottom: 0.4rem;
  padding: 12px 0;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.sidebar__list a:hover {
  color: black;
}

.ul-menu {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .social {
    display: none;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .social {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .social {
    display: none;
  }
}

.brand {
  display: inline-block;
}
.brand img {
  object-fit: cover;
  width: 80px;
}

.copyright {
  color: rgb(102, 102, 102);
  font-size: 0.875rem;
}

.overlay {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.overlay:hover {
  opacity: 1;
}
.overlay a {
  font-family: "Lora", serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9375rem;
  position: absolute;
  right: 10px;
  top: 10px;
}

.container {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .container {
    max-width: 1024px;
  }
}

.footer {
  background-color: rgb(34, 34, 34);
  padding: 60px 2%;
}

.footer__container {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.footer__container > a {
  font-family: "Crimson Text", serif;
  color: #5f6263;
  font-size: 1.125rem;
}
.footer__container p {
  font-family: "Lora", serif;
  color: #5f6263;
  font-size: 0.875rem;
}

.gallery__icon {
  height: 50px;
  width: 50px;
}

.gallery__item {
  cursor: pointer;
  position: relative;
}

.header {
  background: rgba(12, 11, 9, 0.6);
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.header__container {
  align-items: center;
  display: flex;
  gap: 0px;
  justify-content: space-between;
  padding: 1.5rem 2%;
  width: 100%;
}

.navbar {
  display: none;
}
@media screen and (min-width: 1920px) {
  .navbar {
    display: block;
  }
}
@media screen and (min-width: 1440px) and (max-width: calc(1920px - 1px)) {
  .navbar {
    display: block;
  }
}
@media screen and (min-width: 1024px) and (max-width: calc(1440px - 1px)) {
  .navbar {
    display: block;
  }
}

.navbar-list a {
  color: #ffffff;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
  left: 0.063rem;
  letter-spacing: 2px;
  padding: 1rem 1.25rem;
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
}
.navbar-list a:hover {
  color: #2293D7;
}
.navbar-list a.activated {
  color: #2293D7;
}

.main {
  height: 110%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.main__image {
  height: 110vh;
  position: relative;
  width: 100%;
  z-index: -1;
}
.main__image::after {
  background: rgba(0, 0, 0, 0.6);
  content: "";
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}
.main__image img {
  height: 100%;
  object-fit: cover;
}

.main__description {
  color: #ffffff;
  left: 50%;
  max-width: 800px;
  padding-left: 2%;
  padding-right: 2%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 9999;
}
.main__description p {
  letter-spacing: 0.125rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  opacity: 0.8;
  text-transform: uppercase;
}
.main__description h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 5rem;
  line-height: 7.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: calc(768px - 1px)) {
  .main__description h1 {
    font-size: 3rem;
    line-height: 3.125rem;
  }
}
@media screen and (max-width: 480px) {
  .main__description h1 {
    font-size: 3rem;
    line-height: 3.125rem;
  }
}
.main__description h2 {
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  font-style: italic;
}

.section {
  border-top: 1px solid apply-color(theme-border_color);
  padding: 120px 2%;
  width: 100%;
}
.section__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .section__row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .section__row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .section__row {
    grid-template-columns: 1fr;
  }
}
.section__content {
  align-self: start;
}
.section__content h1 {
  font-family: "Kaushan Script", cursive;
  color: #999999;
  font-size: 2.625rem;
  margin-bottom: 20px;
}
.section__content p {
  font-family: "Lora", serif;
  color: #5f6263;
  font-size: 0.875rem;
  line-height: 1.6rem;
}
.section__content p:first-of-type {
  margin-bottom: 30px;
}

.home {
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.about__gallery {
  width: 100%;
}
.about__gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 15px;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .about__gallery-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .about__gallery-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .about__gallery-container {
    grid-template-columns: 1fr;
  }
}

.about__slide {
  overflow: hidden;
}
.about__slide .slide__content {
  color: #ffffff;
}
.about__slide .slide__content h2 {
  font-family: "Lora", serif;
  font-size: 2.625rem;
  font-style: italic;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .about__slide .slide__content h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .about__slide .slide__content h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .about__slide .slide__content h2 {
    font-size: 1.5rem;
  }
}

.testimonials {
  padding-bottom: 80px;
  padding-top: 80px;
}
.testimonials h2 {
  font-family: "Lora", serif;
  color: #999999;
  font-size: 1.625rem;
  margin-bottom: 2rem;
  text-align: center;
}
.testimonials__item {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
.testimonials__item .quote {
  font-size: 7.5rem;
  height: 80px;
  margin-bottom: 1rem;
  position: relative;
  width: 80px;
}
.testimonials__item .quote::after {
  color: #5f6263;
  content: "❞";
  display: inline-block;
  height: 100%;
  width: 100%;
}
.testimonials__item span {
  font-family: "Lora", serif;
  color: #5f6263;
  display: inline-block;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 1rem;
}
.testimonials__item p {
  color: #222222;
  color: 0.9375rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.menu__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .menu__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .menu__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .menu__container {
    grid-template-columns: 1fr;
  }
}

.menu__img {
  position: relative;
}
.menu__img .menu__content {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.menu__img .menu__content h2 {
  color: #ffffff;
  font-family: "Lora", serif;
  font-size: 2.625rem;
}

.menu__list {
  width: 100%;
}
.menu__list li {
  align-items: center;
  display: flex;
  gap: 0.4rem;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  padding: 1rem 0.625rem;
}
.menu__list li:nth-child(3) {
  background-color: #f4efe8;
}
.menu__list .menu__ingredients {
  max-width: 500px;
}
.menu__list .menu__ingredients p {
  color: #222222;
  display: inline;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.menu__list .menu__ingredients span {
  font-family: "Crimson Text", serif;
  color: #5f6263;
  font-size: 0.9375rem;
}
.menu__list .price {
  font-family: "Lora", serif;
  color: #5f6263;
  font-size: 0.9375rem;
  font-style: italic;
  text-align: right;
}

.reservation__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .reservation__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .reservation__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .reservation__container {
    grid-template-columns: 1fr;
  }
}

.reservation__title {
  font-family: "Lora", serif;
  color: #5e472b;
  font-size: 1.125rem;
  margin-bottom: 10px;
}

.reservation__info {
  background-color: #f4efe8;
  align-self: start;
  padding: 2rem;
}

.reservation__contact {
  margin-bottom: 2rem;
}
.reservation__contact p,
.reservation__contact a {
  font-family: "Lora", serif;
  color: #82786e;
  font-size: 0.9375rem;
}
.reservation__contact a {
  display: block;
}

.reservation__form {
  padding-left: 2rem;
  padding-right: 2rem;
}
.reservation__form .btn-default {
  background-color: #2293D7;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 1.125rem;
}

.form__container {
  width: 100%;
}

.form__item {
  margin-bottom: 20px;
  width: 100%;
}
.form__item label {
  font-family: "Lora", serif;
  color: #5f6263;
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.4rem;
}
.form__item input,
.form__item textarea {
  font-family: "Lora", serif;
  color: #7a7a7a;
  border: 2px solid #efefef;
  font-size: 0.9375rem;
  outline: none;
  padding: 10px;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media screen and (min-width: 768px) and (max-width: calc(1024px - 1px)) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: calc(768px - 1px)) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
