.footer {
    background-color: rgba(34, 34, 34, 1);
    padding         : 60px 2%;
}

.footer-container {
    @include flex-properties(flex, center, center);
    flex-direction: column;
    gap           : 20px;
    text-align    : center;

    >a {
        @include typography-04(18);
        color: $theme-text_color;
    }

    p {
        @include typography-02(15);
        color: $theme-text_color;
    }

    .footer-sociais {
        li {
            a {
                @extend %social-btn;
            }
        }
    }
}