.gallery-bg {
    background: $linear-gradient, url("./../images/gallery-bg.jpg");
    @include background-properties;
    @include parallax-efect;
}

.gallery {
    @include grid-properties;

    .gallery-item {
        cursor: pointer;
        position: relative;

        .gallery-overlay {
            @extend %overlay;
        }
    }
}