.menu-bg {
    background: $linear-gradient, url("./../images/menu-bg.jpg");
    @include background-properties;
    @include parallax-efect;
}

.menu-container {
    @include grid-properties;
    place-items  : center;
    margin-bottom: 30px;

    .menu-img {
        position: relative;

        .menu-overlay {
            @include flex-properties(flex, center, center);
            background: rgba(0, 0, 0, 0.2);
            height    : 100%;
            left      : 0;
            position  : absolute;
            top       : 0;
            width     : 100%;

            h2 {
                color: $primary-color;
                @include typography-02(42);
            }
        }
    }
}

.menu-lista {
    width: 100%;

    li {
        @include flex-properties(flex, center, space-between);
        border-bottom: 1px solid $theme-border_color;
        padding      : 15px 10px;

        .menu-ingredientes {
            max-width: 500px;

            p {
                @include typography-01(14);
                color         : $second-color;
                display       : inline;
                text-transform: uppercase;
            }

            span {
                @include typography-04(15);
                color     : $theme-text_color;
            }
        }

        .price {
            @include typography-02(15);
            color     : $theme-text_color;
            font-style: italic;
            text-align: right;
        }

        &:nth-child(3) {
            background-color: $theme-div_color-bg;
        }
    }
}