.reserve-bg {
    background: $linear-gradient, url("./../images/reserve-bg.jpg");
    @include background-properties;
    @include parallax-efect;
}

.reserve-container {
    @include grid-properties;

    .titulo-reserva {
        @include typography-02(18);
        color        : $theme-horario_color-title;
        margin-bottom: 10px;
    }
}

.reserve-info {
    background-color: $theme-div_color-bg;
    align-self      : start;
    padding         : 30px;

    .reserve-text {
        margin-bottom: 30px;

        p,
        a {
            @include typography-02(15);
            color: $theme-horario_color-text;
        }

        a {
            display: block;
        }
    }
}

.reserve-form {
    padding: 30px;

    .btn-form {
        @extend %primary-btn;
    }
}