.container {
    margin   : 0 auto;
    max-width: 1200px;
    width    : 100%;
}

.ul-menu {
    display: flex;
    gap    : 10px;
}

.section {
    border-top: 1px solid $theme-border_color;
    padding   : 120px 2%;
    width     : 100%;

    @include tablet {
        padding-bottom: 60px;
        padding-top   : 60px;
    }
}