/* colors palette */
$primary-color            : #ffffff;
$second-color             : #222222;
$theme-text_color         : #5f6263;
$theme-title_color        : #999999;
$theme-button_color       : #cccccc;
$theme-button_color-bg    : #000000;
$theme-link_color         : #5f6263;
$theme-link_hover         : #2293D7;
$theme-icon_color-bg      : #464646;
$theme-icon_color-houver  : #a58f60;
$theme-div_color-bg       : #f4efe8;
$theme-horario_color-title: #5e472b;
$theme-horario_color-text : #82786e;
$theme-input_color        : #7a7a7a;
$theme-border_color       : #efefef;

/* general */
$linear-gradient : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

/* media queries break point */
$tablet: 1000px;
$mobile: 600px;