/* colors palette */
$primary-color            : #ffffff;
$second-color             : #222222;
$theme-text_color         : #5f6263;
$theme-title_color        : #999999;
$theme-button_color       : #cccccc;
$theme-button_color-bg    : #000000;
$theme-link_color         : #5f6263;
$theme-link_hover         : #2293D7;
$theme-icon_color-bg      : #464646;
$theme-icon_color-houver  : #a58f60;
$theme-horario_color-bg   : #5f6263;
$theme-horario_color-title: #5e472b;
$theme-horario_color-text : #82786e;
$theme-input_color        : #7a7a7a;
$theme-border_color       : #efefef;

/* font family */
$lora: 'Lora',
serif;
$crimsonText: 'Crimson Text',
serif;
$montserrat:'Montserrat',
sans-serif;
$kaushanScript:'Kaushan Script',
cursive;

/* typographies */
$primary-font : 0.75rem;
$title-font   : 5rem;
$subtitle-font: 1.375rem;

/* general */

/* media queries break point */
$tablet: 900px;
$mobile: 600px;