@use "../base/colors"as *;
@use "../base/typography"as *;
@use "../base/mixins"as *;
@use "../global/responsive"as *;


.header {
    @include apply-bg-color(primary-color);
    bottom  : 0;
    overflow: hidden;
    position: absolute;
    width   : 100%;
    z-index : 9999;

    &__container {
        @include flex(center, space-between, 0px);
        padding: 1.5rem 2%;
        width  : 100%;
    }
}

.navbar {
    display: none;

    @include devices-large-screens() {
        display: block;
    }
}

.navbar-list {
    a {
        @include apply-color(theme-link_color);
        display       : inline-block;
        font-size     : get-font-size(12);
        font-weight   : 500;
        left          : 0.063rem;
        letter-spacing: 2px;
        padding       : 1rem 1.25rem;
        transition    : .5s ease-in-out;
        text-transform: uppercase;

        @include hover() {
            @include apply-color(theme-link_hover);
        }

        &.activated {
            @include apply-color(theme-link_hover);
        }
    }
}