@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../base/colors"as *;
@use "../global/responsive"as *;

.main {
    height  : 110vh;
    overflow: hidden;
    position: relative;
    width   : 100%;
}

.main__image {
    height  : 110vh;
    position: relative;
    width   : 100%;
    z-index : -1;

    &::after {
        background: rgba($color: #000000, $alpha: 0.6);
        content   : "";
        height    : 100%;
        inset     : 0;
        position  : absolute;
        width     : 100%;
    }

    img {
        height    : 100%;
        object-fit: cover;
    }
}

.main__description {
    @include apply-color(primary-color);
    left         : 50%;
    max-width    : 800px;
    padding-left : 2%;
    padding-right: 2%;
    position     : absolute;
    top          : 50%;
    text-align   : center;
    transform    : translate(-50%, -50%);
    width        : 100%;
    z-index      : 9999;

    p {
        letter-spacing: 0.125rem;
        line-height   : 2rem;
        opacity       : .8;
        text-transform: uppercase;
    }

    h1 {
        @include kaushan-script-font();
        font-size    : get-font-size(80);
        line-height  : 7.5rem;
        margin-bottom: .4rem;

        @include devices(s) {
            font-size  : get-font-size(48);
            line-height: 3.125rem;
        }

        @include devices(xs) {
            font-size  : get-font-size(48);
            line-height: 3.125rem;
        }
    }

    h2 {
        @include crimson-text();
        font-size : get-font-size(24);
        font-style: italic;
    }
}