@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../base/colors"as *;
@use "../global/responsive"as *;

.section {
    @include flex(center, center);
    height  : 110vh;
    overflow: hidden;
    position: relative;
    width   : 100%;
}

.section__image {
    height  : 110vh;
    position: absolute;
    width   : 100%;
    z-index : -1;

    &::after {
        background: rgba($color: #000000, $alpha: 0.6);
        content   : "Estou aqui";
        inset     : 0;
        position  : absolute;
    }

    img {
        height    : 100%;
        object-fit: cover;
    }
}

.section__description {
    @include apply-color(primary-color);
    max-width    : 800px;
    padding-left : 2%;
    padding-right: 2%;
    text-align   : center;
    width        : 100%;

    p {
        letter-spacing: 0.125rem;
        line-height   : 2rem;
        opacity       : .8;
        text-transform: uppercase;
    }

    h1 {
        @include kaushan-script-font();
        font-size    : get-font-size(80);
        line-height  : 7.5rem;
        margin-bottom: .4rem;

        @include devices(s) {
            font-size  : get-font-size(48);
            line-height: 3.125rem;
        }

        @include devices(xs) {
            font-size  : get-font-size(48);
            line-height: 3.125rem;
        }
    }

    h2 {
        @include crimson-text();
        font-size : get-font-size(24);
        font-style: italic;
    }
}