@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../base/colors"as *;
@use "../global/responsive"as *;

.section {
    border-top: 1px solid apply-color(theme-border_color);
    padding   : 120px 2%;
    width     : 100%;

    &__row {
        @include grid(1fr 1fr, 2rem);
    }

    &__content {
        align-self: start;

        h1 {
            @include kaushan-script-font();
            @include apply-color(theme-title_color);
            font-size    : get-font-size(42);
            margin-bottom: 20px;
        }

        p {
            @include lora-font();
            @include apply-color(theme-text_color);
            font-size  : get-font-size(14);
            line-height: 1.6rem;

            &:first-of-type {
                margin-bottom: 30px;
            }
        }
    }
}