@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../base/colors"as *;
@use "../global/responsive"as *;

// about section gallery
.about__gallery {
    width: 100%;

    &-container {
        display              : grid;
        grid-template-columns: repeat(4, 1fr);
        gap                  : 20px;
        padding              : 0 15px;

        @include devices(t) {
            grid-template-columns: 1fr 1fr;
        }

        @include devices(s) {
            grid-template-columns: 1fr;
        }

        @include devices(xs) {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        cursor  : pointer;
        position: relative;
    }
}

.about__slide {
    overflow: hidden;

    .swiper {
        @include devices-large-screens() {
            height: 500px;
        }
    }

    &-arrow {
        background: rgba(0, 0, 0, 0.2);
        height    : 60px !important;
        width     : 40px !important;

        &::after {
            @include apply-color(primary-color);

            font-size: get-font-size(18) !important;
        }
    }
}