@use "../base/mixins"as *;
@use "../base/typography"as *;
@use "../base/colors"as *;
@use "../global/responsive"as *;

// home
.home {
    height  : 100vh;
    overflow: hidden;
    width   : 100%;
}

// about section 
.about__gallery {
    width: 100%;

    &-container {
        display              : grid;
        grid-template-columns: repeat(4, 1fr);
        gap                  : 20px;
        padding              : 0 15px;

        @include devices(t) {
            grid-template-columns: 1fr 1fr;
        }

        @include devices(s) {
            grid-template-columns: 1fr;
        }

        @include devices(xs) {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        cursor  : pointer;
        position: relative;
    }
}

.about__slide {
    overflow: hidden;

    .slide__content {
        @include apply-color(primary-color);

        h2 {
            @include lora-font();
            font-size : get-font-size(42);
            font-style: italic;
            text-align: center;

            @include devices-small-screens() {
                font-size: get-font-size(24);
            }
        }
    }
}

.testimonials {
    padding-bottom: 80px;
    padding-top   : 80px;

    h2 {
        @include lora-font();
        @include apply-color(theme-title_color);
        font-size    : get-font-size(26);
        margin-bottom: 2rem;
        text-align   : center;
    }

    &__item {
        @include flex(center, center);
        flex-direction: column;
        padding       : 1rem;
        text-align    : center;

        .quote {
            font-size    : get-font-size(120);
            height       : 80px;
            margin-bottom: 1rem;
            position     : relative;
            width        : 80px;

            &::after {
                @include apply-color(theme-text_color);
                content: "\275E";
                display: inline-block;
                height : 100%;
                width  : 100%;
            }
        }

        span {
            @include lora-font();
            @include apply-color(theme-text_color);
            display      : inline-block;
            font-size    : get-font-size(20);
            font-style   : italic;
            margin-bottom: 1rem;
        }

        p {
            @include apply-color(second-color);
            color         : get-font-size(15);
            line-height   : 2rem;
            margin-bottom : 2rem;
            text-transform: uppercase;
        }
    }
}

// menu section
.menu__container {
    @include grid(1fr 1fr, 2rem);
    margin-bottom: 3rem;
}

.menu__img {
    position: relative;

    .menu__content {
        @include flex(center, center);
        background: rgba(0, 0, 0, 0.4);
        height    : 100%;
        left      : 0;
        position  : absolute;
        top       : 0;
        width     : 100%;

        h2 {
            @include apply-color(primary-color);
            @include lora-font();
            font-size: get-font-size(42);
        }
    }
}

.menu__list {
    width: 100%;

    li {
        @include flex(center, space-between, 0.4rem);
        border-bottom: 1px solid #efefef;
        padding      : 1rem 0.625rem;

        &:nth-child(3) {
            @include apply-bg-color(theme-div_color-bg);
        }
    }

    .menu__ingredients {
        max-width: 500px;

        p {
            @include apply-color(second-color);
            display       : inline;
            font-size     : get-font-size(14);
            text-transform: uppercase;
        }

        span {
            @include crimson-font();
            @include apply-color(theme-text_color);
            font-size: get-font-size(15);
        }
    }

    .price {
        @include lora-font();
        @include apply-color(theme-text_color);
        font-size : get-font-size(15);
        font-style: italic;
        text-align: right;
    }
}

// reserve section
.reservation__container {
    @include grid(1fr 1fr, 2rem);
}

.reservation__title {
    @include lora-font();
    @include apply-color(theme-horario_color-title);
    font-size    : get-font-size(18);
    margin-bottom: 10px;
}

.reservation__info {
    @include apply-bg-color(theme-div_color-bg);
    align-self: start;
    padding   : 2rem;
}

.reservation__contact {
    margin-bottom: 2rem;

    p,
    a {
        @include lora-font();
        @include apply-color(theme-horario_color-text);
        font-size: get-font-size(15);
    }

    a {
        display: block;
    }
}

.reservation__form {
    padding-left : 2rem;
    padding-right: 2rem;

    .btn-default {
        @include apply-bg-color(theme-link_hover);
        @include apply-color(primary-color);
        font-size: get-font-size(12);
        padding  : 1.125rem;
    }
}

.form__container {
    width: 100%;
}

.form__item {
    margin-bottom: 20px;
    width        : 100%;

    label {
        @include lora-font();
        @include apply-color(theme-text_color);
        display      : block;
        font-size    : get-font-size(15);
        margin-bottom: .4rem;
    }

    input,
    textarea {
        @include lora-font();
        @include apply-color(theme-input_color);
        border   : 2px solid get-color(theme-border_color);
        font-size: get-font-size(15);
        outline  : none;
        padding  : 10px;
        width    : 100%;
    }
}

// galeria section
.gallery {
    @include grid(1fr 1fr, 2rem);

    &__item {
        cursor  : pointer;
        position: relative;
    }
}